.ab-header {
    grid-area: header;
}

.ab-content {
    grid-area: main;
}

.ab-footer {
    grid-area: footer;
}

.ab-space {
    grid-area: space;
}

.ab-container-login {
    display: grid;
    grid-template-areas:
      'space header header space'
      'space main main space'
      'space footer footer space';
    grid-gap: 10px;
    padding: 10px;
    width:100%;
    text-align: center;
    margin-top: 20px;
} 

.ab-container-content-page {
    display: grid;
    grid-template-areas:
    'header header header header header'
    'menu main main main main'
    'menu footer footer footer footer';
    grid-gap: 10px;
    padding: 10px;
    width:100%;
    text-align: center;
    margin-top: 20px;
}