.ab-header
{
    text-align: center;
}


.ab-content
{
    text-align: center;
}

.ab-form-layout
{
    max-width: 520px;
    text-align: auto;
    margin:auto;
    padding: 15px 30px 10px 30px;
    background-color: #fff;
    border-radius: 4px;
    box-sizing: border-box;
}

.ab-row i
{
    display: block;
    position: absolute;
    margin: 11px 2px 4px 10px;
    background-position: 0% 0%;
    background-repeat: repeat;
}

.ab-row input{
    border-left: 2px solid;
    border-left-color: #105ebe !important;
}

.ab-col-2 span {
    padding-left: 15px;
}

.ab-col.ab-button-white-square {

    float: left;
}

.ab-col.ab-button-blue-square {
    float: right;
}
