@media (max-width: 480px) {

    .login .ab-header {
        margin-top:35px; margin-bottom:10px; padding:0px;
    }
    
    .login .ab-logo-round img {
        height:40px;
    }

    .login .ab-form-layout {
        padding:10px; max-width:300px;
    }
    
    .login .main h3 {
        font-size: 22px;
    }
}
