/*Each page having each layout exp: loginlayout.css*/
.ab-container {
    width:100%;
    text-align: center;
    margin-top: 20px;
}

/*For 1 row 2 column used*/
.ab-row-2 {
    margin: auto;
    justify-content: center;
}

/*For 1 row 2 column used*/
.ab-col-2 {
    vertical-align: middle;
    display:inline-block;
}


/*Common row suitable for all*/
.ab-row {
    width:100%;
    margin-top: 30px;
}

/*Common column for all*/
.ab-col {
    height:40px;
}

