
img{
    width: 40px;
    height: 40px;
}
#a{
    color:white;
    font-size:20px;
}
form{
    background-color: white;
    width: 30%;
    margin: auto;
    text-align: center;
}
#demo{
    color:rgb(236, 92, 92);
}
p{
    text-align: center;
}
input{
    width:300px;
    height: 30px;
}
head{
    background-color: gray;
}
body{
    background-color: gray;
}
.center {
    margin: auto;
    width: 30%;
    border: 15px rgb(75, 72, 72);
    padding: 10px;
    
}
button{
    width:300px;
    height: 30px;
    background-color:blue;
    color: white;
}
table{
    border:1px gray;
    margin-left:auto;
    margin-right:auto;
}
th{
    padding:10px;
}
