.ab-ti-round-corner {
    width: 100%;
    font-size: 16px;
    padding: 12px 8px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 3px;
    border: solid 0.5px #e6e6e6;
}


/*Name with class*/
/*Css name  style*/

/*.(company name)-(textinput)-(shape)*/