#btnLogin
{
    color: white;
    background-color: #105ebe;
    height: 40px;
    width: 100%;
    border-width: 0;
    padding: 7px 12px;
    outline: none !important;
    border-radius: 0 !important;
    display: inline-block;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    font: 400 13.3333px Arial;
    line-height: 1.428571429;
    font-size: 14px;

}

#btnForget
{
    text-align: center;
    margin-top: -25px;
    padding-bottom: 7px;
}