form
{
    display: block;
}

.formframe
{
    max-width: 520px;
    margin: auto;
    margin-bottom: 0px;
    padding: 15px 30px 10px 30px;
    background-color: #fff;
    border-radius: 4px;
    box-sizing: border-box;
}