#logo
{
    display: inline;
}

img{
    height: 30px;
    width: 30px;
    margin-top: -10px;
    margin-bottom: -10px;
    padding: 5px;
    background-color: #105ebe;
    border-radius: 20px !important;
    vertical-align: middle;
    border: 0;
}