.inputbar input
{
    border-left: 0;
    padding-left: 39px !important;
    width: 100%;
    height: 40px;
    font-size: 14px;
    font-weight: normal;
    color: #333333;
    border: 1px solid #e5e5e5;
    border-radius: 0;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    display: block;
    padding: 6px 12px;
    line-height: 1.428571429;
    box-shadow: none;
    box-sizing:border-box;
}

input::placeholder{
    color: #999999;
}

input:focus {
    border-color: #919191;
    outline: none;
    border-left: none;
}
