.inputbar
{
    margin-top: 30px;
    border-left: 2px solid;
    color: #105ebe !important;
    
}

.inputbar i
{
    color: #ccc;
    display: block;
    position: absolute;
    margin: 11px 2px 4px 10px;
    width: 16px;
    height: 16px;
    font-size: 16px;
    text-align: center;
    line-height: normal;
    background-image: none;
    background-position: 0% 0%;
    background-repeat: repeat;
}
#inputbarLayout
{
    margin-top: 30px;
    margin-bottom: 15px;
}
.buttonbar
{
    margin-top: 30px;
    margin-bottom: 15px;
}
#buttonLayout
{
   padding-bottom: 30px;
    margin-top: 30px;
    text-align: center;
}
