#a1
{
    margin-top: -16px;
    margin-left: -20px;
    border-width: 0;
    padding: 7px 14px;
    font-size: 14px;
    outline: none !important;
    font-weight: normal;
    line-height: 1.428571429;
    text-align: center;
    vertical-align: middle;
    border: 1px solid transparent;
    color: #105ebe;
    text-decoration: none;
}
#a1:hover
{
    color: black;
}

#a2
{
    text-decoration: underline;
    color: #ccc;

}

#a1:focus {
    color: #333333;
  }