body
{
    font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.428571429;
    color: #333333;
}

.head
{
    color: white;
    text-align: center;
    font-size: 22px;
}

.footer
{
    color: #ccc;
    font-weight: normal;
    font-size: 12px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;    
    text-align: center;
}