#logo
{
    display: inline;
}

img{
    height: 30px;
    width: 30px;
    margin-top: -10px;
    margin-bottom: -10px;
    padding: 5px;
    background-color: #105ebe;
    border-radius: 20px !important;
    vertical-align: middle;
    border: 0;
}

#title
{
    display: inline;
}

span
{
    padding-top: 10px;
    padding-left: 15px;
}

form
{
    display: block;
}

.inputbar
{
    margin-top: 30px;
    margin-bottom: 15px;
    border-left: 2px solid;
    color: #105ebe !important;
}

.inputbar i
{
    color: #ccc;
    display: block;
    position: absolute;
    margin: 11px 2px 4px 10px;
    width: 16px;
    height: 16px;
    font-size: 16px;
    text-align: center;
    
    line-height: normal;
    background-image: none;
    background-position: 0% 0%;
    background-repeat: repeat;
}

.mobile-icon:before
{
    content: "\f10b";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    text-decoration: inherit;
    -webkit-font-smoothing: antialiased;
}

.icon_password:before
{
    content: "\f023";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    text-decoration: inherit;
    -webkit-font-smoothing: antialiased;
}
.inputbar input
{
    border-left: 0;
    padding-left: 40px !important;
    width: 405px;
    height: 26px;
    font-size: 14px;
    font-weight: normal;
    color: #ccc;
    border: 1px solid #e5e5e5;
    border-radius: 0;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    display: block;
    padding: 6px 12px;
    line-height: 1.428571429;

}

#btnLogin
{
    color: white;
    background-color: #105ebe;
    height: 40px;
    width: 100%;
    border-width: 0;
    padding: 7px 14px;
    outline: none !important;
    border-radius: 0 !important;
    display: inline-block;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    font: 400 13.3333px Arial;
    line-height: 1.428571429;
}

#btnForget
{
    text-align: center;
}

#a1
{
    margin-top: -16px;
    margin-left: -20px;
    border-width: 0;
    padding: 7px 14px;
    font-size: 14px;
    outline: none !important;
    font-weight: normal;
    line-height: 1.428571429;
    text-align: center;
    vertical-align: middle;
    border: 1px solid transparent;
    color: #105ebe;
    text-decoration: none;
}

#a2
{
    text-decoration: underline;
    color: #ccc;

}

