body
{
    background-color: #7e838b;
    margin: 0;
}

.head
{
    padding-top: 25px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    margin-bottom: 15px !important;
    margin: 0 auto;
}

div{
    display:block;
}

.main
{
    margin-top: 15px;
}

.formframe
{
    max-width: 520px;
    margin: auto;
    margin-bottom: 0px;
    padding: 15px 30px 10px 30px;
    background-color: #fff;
    border-radius: 4px;
    box-sizing: border-box;
}

.footer
{
    margin-top: 20px;    
}