.login{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.428571429;
    background:#7e838b;
    margin: auto;
    text-align: center;
}

.head{
    color: white;
    font-size: 22px;
    padding-top: 25px;
}

#logo{
    display: inline;
    margin: 5px;
}

img{
    height: 40px;
    width: 40px;
    margin-top: -10px;
    margin-bottom: -10px;
    background-color: #105ebe;
    padding: 5px;
    border-radius: 20px !important;
}

#title
{
    display: inline;
}

span
{
    color: white;
    margin-top: 10px;
    padding-left: 15px;
}

.main{
    margin-top: 15px;
    font-size:20px;
    text-align:center;
    margin-bottom:-10px;
    background: white;
}

#username{
    margin-top:50px;
    padding: 10px;
    border-left:solid blue;
    background:white;
    color:grey;
}

#password{
    margin-top:20px;
    padding: 10px;
    border-left:solid blue;
    background:white;
    color:grey;
}

#btnLogin{
    background: blue;
    margin-top:20px;
    width:200px;
    padding: 10px;
    border:solid;
    border-radius: 5px;
    color:white; 

}

#text
{
    color: red;
    font-weight: bold;

}

#text2
{
    color: red;
    font-weight: bold;
}

#text3{
    color:white;
}

#a1:link{
    color: blue;
    text-decoration: none;
}

#a2{
    color: white;
}

h2{
    color: white;
}