form {
    display: block;
}
img {
    border: 0;
}

body {
    font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.428571429;
    color: #333333;
    background-color: #7e838b;
    margin:0px;
}

div {
    display:block;
}

h3 {
    color:#105ebe;
    font-size: 22px;
    font-weight: normal;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

ul {
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
    text-align: left!important;
}
