.ab-button-blue-bar {
    height: 40px;
    color: white;
    background-color: #105ebe;
    width: 100%;
    border-width: 0;
    outline: none !important;
    border-radius: 0 !important;
    font-weight: normal;
    cursor: pointer;
    border: 1px solid transparent;
    font: 400 13.3333px Arial;
    line-height: 1.428571429;
    font-size: 14px;
}

.ab-button-blue-square {
    height: 40px;
    color: white;
    background-color: #105ebe;
    width: 135px;
    border-width: 0;
    outline: none !important;
    border-radius: 0 !important;
    font-weight: normal;
    cursor: pointer;
    border: 1px solid transparent;
    font: 400 13.3333px Arial;
    line-height: 1.428571429;
    font-size: 14px;
}

.ab-button-white-square {
    height: 40px;
    color: #105ebe;
    background-color: #eeeeee;
    width: 135px;
    border-width: 0;
    outline: none !important;
    border-radius: 0 !important;
    font-weight: normal;
    cursor: pointer;
    border: 1px solid transparent;
    font: 400 13.3333px Arial;
    line-height: 1.428571429;
    font-size: 14px;
}

.ab-button-text {
    text-align: center;
    padding-bottom: 7px;
}

