.ab-input-text::placeholder {
    color: #999999;
}

/*Style after focus*/
.ab-input-text:focus {
    border-color: #919191;
    outline: none;
}

/*Style when mouse point to the link*/
.ab-link-hover:hover {
    color: black;
}

/*Style when click the link*/
.ab-link-hover:focus {
    color: #333333;
  }

.hide {
    display:none;
}
