.ab-logo-round img {
    height: 30px;
    width: 30px;
    padding: 5px;
    background-color: #105ebe;
    border-radius: 20px !important;
    vertical-align: middle;
    border: 0;
}

.ab-icon {
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    text-decoration: inherit;
    -webkit-font-smoothing: antialiased;
    width: 16px;
    height: 16px;
    font-size: 16px;
    text-align: center;
    line-height: normal;
    background-image: none;
    color: #ccc;
}

.ab-icon.phone:before {
    content: "\f10b";
}

.ab-icon.locker:before {
    content: "\f023";
}
