/*Style for link elements*/
.ab-link-hover {
    border-width: 0;
    padding: 7px 14px;
    font-size: 14px;
    outline: none !important;
    font-weight: normal;
    line-height: 1.428571429;
    text-align: center;
    vertical-align: middle;
    border: 1px solid transparent;
    color: #105ebe;
    text-decoration: none;
}

/*Style for sepcific hyperlink*/
.ab-link-normal {
    text-decoration: underline;
    color: #ccc;
}
