/*Default footer style*/
.ab-footer {
    color: #ccc;
    font-weight: normal;
    font-size: 12px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;    
    text-align: center;
}

.ab-title-span {
    color: white;
    vertical-align: middle;
    font-size: 22px;
    font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
}

.result {
    text-align: left;
    color: #b94a48;
}

.ab-result {
    color: red;
}

.text {
    text-align: left;
}