@media (max-width: 480px) 
{
    .login .head 
    {
        margin-top:35px; margin-bottom:10px; padding:0px;
    }
    
    .login .logo img 
    {
        height:40px;
    }

    .login .formframe 
    {
        padding:10px; max-width:300px;
    }
    
    .login .main h3 {font-size: 22px;}
}
